* {
    padding:0;
    margin: 0;
}
li {
    list-style: none;
}

a {
    Text-decoration:none;
    color: #444853
}
a :hover {
        color:#F70776;
        border-bottom:solid 1px;
}
header {
    width: 100%;
    height: 50px;
    background-color: white;
}
.menu ul {
    display: flex ;
 float: right;

   padding: 10px 0;
   padding-right: 10px;
}

.menu ul li {
    margin-right: 40px;
    font-size: 30px;


}
.menu {
        background-color: aqua;

}

.content {
    height: 610px;
    width: 100%;
    background-image: url(背景.png);
    background-size: cover;
    margin-top: 15px;
    
}
.content-title {
    padding-top: 100px;
    padding-left: 200px;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 32px;
}


footer {
        height: 50px;
        
        background-color: white;
        
}
.copyright {
    text-align: center;
    margin: 20px 0 ;
        font-size: 18px;
}
