* {
    padding:0;
    margin: 0;
   
}
li {
    list-style: none;
}

a {
    Text-decoration:none;
    color: #000;
}
a :hover {
        color:#F70776;
        border-bottom:solid 1px;
}
header {
    width: 100%;
    height: 50px;
}
.menu ul {
    display: flex ;
 float: right;
   padding: 10px 0;
   padding-right: 10px;
   position: fixed;
   top:15px;
   right:0;
}

.menu ul li {
    margin-right: 80px;
    font-size: 30px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Crete Round', serif;
    font-family: 'Klee One', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Serif JP', serif;
}
body {
    height: 610px;
    width: 100%;
    background-image: url(602270_l.jpg);
    background-size: cover;
    margin-top: 15px;
    
}
.content-title {
    padding-top: 200px;
    padding-left: 200px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Crete Round', serif;
    font-family: 'Klee One', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Serif JP', serif;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 32px;
}
footer {
        height: 50px;
        width: 100%;
        position: fixed;
        bottom:0;

}
.copyright {
    text-align: center;
    padding-top: 10px;
        font-size: 18px;
}
